In [1]:
import numpy as np
import pandas as pd
from dask import dataframe as dd
import os

In [13]:
update_file = "/home/juuso/Documents/gradu/ADAUSDT_T_DEPTH_2021-10-30/ADAUSDT_T_DEPTH_2021-10-30_depth_update.csv"
snap_file = "/home/juuso/Documents/gradu/ADAUSDT_T_DEPTH_2021-10-30/ADAUSDT_T_DEPTH_2021-10-30_depth_snap.csv"
res_file = "/home/juuso/Documents/gradu/ADAUSDT_T_DEPTH_2021-10-30/parsed.csv"
parsed = "/home/juuso/Documents/gradu/parsed_data/2021-12-22_parsed.csv"
parsed_path = "/home/juuso/Documents/gradu/parsed_data"

In [8]:
for chunk in pd.read_csv(update_file, chunksize=1_000_000):
    ts_chunk = chunk[chunk.timestamp == 1635552439148]
    if ts_chunk.empty:
        continue
    else:
        print('found')
        break

ts_chunk

found

,symbol,timestamp,first_update_id,last_update_id,side,update_type,price,qty,pu
187950,ADAUSDT,1635552439148,887352623854,887352627408,b,set,1.7710,774,887352623593
187951,ADAUSDT,1635552439148,887352623854,887352627408,b,set,2.0088,9912,887352623593
187952,ADAUSDT,1635552439148,887352623854,887352627408,b,set,2.0108,18251,887352623593
187953,ADAUSDT,1635552439148,887352623854,887352627408,b,set,2.0112,2637,887352623593
187954,ADAUSDT,1635552439148,887352623854,887352627408,b,set,2.0114,1688,887352623593
187955,ADAUSDT,1635552439148,887352623854,887352627408,b,set,2.0115,5315,887352623593
187956,ADAUSDT,1635552439148,887352623854,887352627408,b,set,2.0117,163,887352623593
187957,ADAUSDT,1635552439148,887352623854,887352627408,b,set,1.7710,774,887352623593
187958,ADAUSDT,1635552439148,887352623854,887352627408,b,set,2.0088,9912,887352623593
187959,ADAUSDT,1635552439148,887352623854,887352627408,b,set,2.0108,18251,887352623593
187960,ADAUSDT,1635552439148,887352623854,887352627408,b,set,2.0112,2637,887352623593
187961,ADAUSDT,1635552439148,887352623854,887352627408,b,set,2.0114,1688,887352623593
187962,ADAUSDT,1635552439148,887352623854,887352627408,b,set,2.0115,5315,887352623593
187963,ADAUSDT,1635552439148,887352623854,887352627408,b,set,2.0117,163,887352623593
187964,ADAUSDT,1635552439148,887352623854,887352627408,a,set,2.0121,9990,887352623593
187965,ADAUSDT,1635552439148,887352623854,887352627408,a,set,2.0122,7822,887352623593
187966,ADAUSDT,1635552439148,887352623854,887352627408,a,set,2.0132,14167,887352623593
187967,ADAUSDT,1635552439148,887352623854,887352627408,a,set,2.0133,31268,887352623593
187968,ADAUSDT,1635552439148,887352623854,887352627408,a,set,2.0141,12977,887352623593
187969,ADAUSDT,1635552439148,887352623854,887352627408,a,set,2.0143,30754,887352623593
187970,ADAUSDT,1635552439148,887352623854,887352627408,a,set,2.1747,147,887352623593
187971,ADAUSDT,1635552439148,887352623854,887352627408,a,set,2.4000,157004,887352623593
187972,ADAUSDT,1635552439148,887352623854,887352627408,a,set,2.0121,9990,887352623593
187973,ADAUSDT,1635552439148,887352623854,887352627408,a,set,2.0122,7822,887352623593
187974,ADAUSDT,1635552439148,887352623854,887352627408,a,set,2.0132,14167,887352623593
187975,ADAUSDT,1635552439148,887352623854,887352627408,a,set,2.0133,31268,887352623593
187976,ADAUSDT,1635552439148,887352623854,887352627408,a,set,2.0141,12977,887352623593
187977,ADAUSDT,1635552439148,887352623854,887352627408,a,set,2.0143,30754,887352623593
187978,ADAUSDT,1635552439148,887352623854,887352627408,a,set,2.1747,147,887352623593
187979,ADAUSDT,1635552439148,887352623854,887352627408,a,set,2.4000,157004,887352623593

In [3]:
df = pd.read_csv("/home/juuso/Documents/gradu/parsed_data/orderbook/2021-12-21.csv", nrows=1000, header=None)
len(df.columns)
#df

102

In [38]:
diff_list = []
for i in os.listdir(parsed_path):
    file_path = os.path.join(parsed_path, i)
    df = pd.read_csv(file_path, nrows=1000)
    # max_start = df.iloc[:50].max()
    diff_list.append(df.iloc[50].timestamp - df.iloc[:50].timestamp.max())

In [5]:
a = [1,2]
b = np.array([3,4])
print(a+b)

[4 6]

In [38]:
df = pd.read_csv(res_file, nrows=1_000_000)
df[df.duplicated(subset=['timestamp', 'price', 'side'])]

# ind = df[df['size']==0].iloc[0].name
# df.iloc[ind-5:ind+5]

Empty DataFrame
Columns: [timestamp, side, size, price]
Index: []

In [42]:
df.iloc[45:].head(10)
df.iloc[50].timestamp
df.iloc[:50].timestamp.max()

1641427199921

In [39]:

total = 0 
n = 0
for df in pd.read_csv(res_file, chunksize=100_0000):
    # print(df)
    n+=1
    # if n == 10:
        # break
    total += len(df)
print(total)

10486333

In [18]:
update_file = "/home/juuso/Documents/gradu/ADAUSDT_T_DEPTH_2021-10-30/ADAUSDT_T_DEPTH_2021-10-30_depth_update.csv"
n = 0
total = 0
for df in pd.read_csv(res, chunksize=100_000):
    # print(df)
    n+=1
    # if n == 10:
        # break
    total += len(df)
print(total)

32910764

In [4]:

df_update = pd.read_csv(update_file, nrows = 100_000)
df_update.head(25)

,symbol,timestamp,first_update_id,last_update_id,side,update_type,price,qty,pu
0,ADAUSDT,1635552000020,887333214656,887333224076,b,set,1.7565,614,887333214539
1,ADAUSDT,1635552000020,887333214656,887333224076,b,set,1.9607,189,887333214539
2,ADAUSDT,1635552000020,887333214656,887333224076,b,set,1.9903,6,887333214539
3,ADAUSDT,1635552000020,887333214656,887333224076,b,set,1.9918,518,887333214539
4,ADAUSDT,1635552000020,887333214656,887333224076,b,set,1.9926,432,887333214539
5,ADAUSDT,1635552000020,887333214656,887333224076,b,set,1.9927,144,887333214539
6,ADAUSDT,1635552000020,887333214656,887333224076,b,set,1.9951,10865,887333214539
7,ADAUSDT,1635552000020,887333214656,887333224076,b,set,1.9977,101288,887333214539
8,ADAUSDT,1635552000020,887333214656,887333224076,b,set,1.9985,23362,887333214539
9,ADAUSDT,1635552000020,887333214656,887333224076,b,set,2.0015,21269,887333214539
10,ADAUSDT,1635552000020,887333214656,887333224076,b,set,2.0023,1623,887333214539
11,ADAUSDT,1635552000020,887333214656,887333224076,b,set,2.0045,21713,887333214539
12,ADAUSDT,1635552000020,887333214656,887333224076,b,set,2.0047,66,887333214539
13,ADAUSDT,1635552000020,887333214656,887333224076,b,set,2.0059,6284,887333214539
14,ADAUSDT,1635552000020,887333214656,887333224076,b,set,2.0060,3864,887333214539
15,ADAUSDT,1635552000020,887333214656,887333224076,b,set,2.0095,5366,887333214539
16,ADAUSDT,1635552000020,887333214656,887333224076,b,set,2.0101,6466,887333214539
17,ADAUSDT,1635552000020,887333214656,887333224076,b,set,2.0107,4157,887333214539
18,ADAUSDT,1635552000020,887333214656,887333224076,b,set,2.0109,1656,887333214539
19,ADAUSDT,1635552000020,887333214656,887333224076,b,set,2.0116,13041,887333214539
20,ADAUSDT,1635552000020,887333214656,887333224076,b,set,2.0118,3896,887333214539
21,ADAUSDT,1635552000020,887333214656,887333224076,b,set,2.0123,8389,887333214539
22,ADAUSDT,1635552000020,887333214656,887333224076,b,set,2.0128,11778,887333214539
23,ADAUSDT,1635552000020,887333214656,887333224076,b,set,2.0132,2294,887333214539
24,ADAUSDT,1635552000020,887333214656,887333224076,b,set,2.0135,7239,887333214539

In [30]:
df_update[df_update.timestamp == 1635552000020]
ts = df_update.timestamp.unique()
# find the average difference between consecutive elements in an array
ts.sort()
np.mean(np.diff(ts))
df_update.update_type.unique()

array(['set'], dtype=object)

In [ ]:
df_snap.head(25)

,symbol,timestamp,first_update_id,last_update_id,side,update_type,price,qty,pu
0,ADAUSDT,1635552101873,887338910240,887338910240,a,snap,2.1186,141,-1
1,ADAUSDT,1635552101873,887338910240,887338910240,a,snap,2.1185,524,-1
2,ADAUSDT,1635552101873,887338910240,887338910240,a,snap,2.1184,22,-1
3,ADAUSDT,1635552101873,887338910240,887338910240,a,snap,2.1183,47,-1
4,ADAUSDT,1635552101873,887338910240,887338910240,a,snap,2.1182,163,-1
5,ADAUSDT,1635552101873,887338910240,887338910240,a,snap,2.1181,696,-1
6,ADAUSDT,1635552101873,887338910240,887338910240,a,snap,2.1180,2377,-1
7,ADAUSDT,1635552101873,887338910240,887338910240,a,snap,2.1179,20,-1
8,ADAUSDT,1635552101873,887338910240,887338910240,a,snap,2.1178,60,-1
9,ADAUSDT,1635552101873,887338910240,887338910240,a,snap,2.1177,120,-1
10,ADAUSDT,1635552101873,887338910240,887338910240,a,snap,2.1176,379,-1
11,ADAUSDT,1635552101873,887338910240,887338910240,a,snap,2.1175,133,-1
12,ADAUSDT,1635552101873,887338910240,887338910240,a,snap,2.1174,367,-1
13,ADAUSDT,1635552101873,887338910240,887338910240,a,snap,2.1173,1196,-1
14,ADAUSDT,1635552101873,887338910240,887338910240,a,snap,2.1172,576,-1
15,ADAUSDT,1635552101873,887338910240,887338910240,a,snap,2.1171,668,-1
16,ADAUSDT,1635552101873,887338910240,887338910240,a,snap,2.1170,2568,-1
17,ADAUSDT,1635552101873,887338910240,887338910240,a,snap,2.1169,150,-1
18,ADAUSDT,1635552101873,887338910240,887338910240,a,snap,2.1168,64,-1
19,ADAUSDT,1635552101873,887338910240,887338910240,a,snap,2.1167,28,-1
20,ADAUSDT,1635552101873,887338910240,887338910240,a,snap,2.1166,7047,-1
21,ADAUSDT,1635552101873,887338910240,887338910240,a,snap,2.1165,417,-1
22,ADAUSDT,1635552101873,887338910240,887338910240,a,snap,2.1164,6282,-1
23,ADAUSDT,1635552101873,887338910240,887338910240,a,snap,2.1163,1033,-1
24,ADAUSDT,1635552101873,887338910240,887338910240,a,snap,2.1162,3010,-1

In [28]:
df_snap[df_snap.timestamp == 1635552101873]
ts = df_snap.timestamp.unique()
# find the average difference between consecutive elements in an array
ts.sort()
np.mean(np.diff(ts))

1352431.5918367347

In [27]:
# sort an array
ts.sort()
ts

array([1635552101873, 1635552439191, 1635554849056, 1635555187147,
       1635557596066, 1635557934680, 1635560343338, 1635560681475,
       1635563090209, 1635563428280, 1635565837194, 1635566175392,
       1635568584146, 1635568922363, 1635571331373, 1635571669387,
       1635574078410, 1635574416254, 1635576825422, 1635577163463,
       1635579572326, 1635579910687, 1635582319486, 1635582657623,
       1635585066559, 1635585404867, 1635587813426, 1635588151690,
       1635590560411, 1635590898723, 1635593307583, 1635593645827,
       1635596054754, 1635596393139, 1635598802451, 1635599140443,
       1635601551514, 1635601889267, 1635604299136, 1635604636527,
       1635607046112, 1635607383460, 1635609793249, 1635610130357,
       1635612540075, 1635612877124, 1635615287068, 1635615624294,
       1635618033871, 1635618371021])